/*loader */
.cssload-inner.cssload-one {
    border-bottom: 3px solid rgb(162,190,7);

}

.cssload-inner.cssload-two {
    border-right: 3px solid rgba(0,140,186,0.96);
}

.cssload-inner.cssload-three {
    border-top: 3px solid rgb(196,114,213)
}

/* header coloring start*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active:hover>a {
    color: #008cba;
}

.navbar .navbar-nav >li:nth-child(1):hover a {
    color: #008cba;
}

.navbar .navbar-nav >li:nth-child(2):hover a {
    color: #a2be07;
}

.navbar .navbar-nav >li:nth-child(3):hover a {
    color: #ffa823;
}

.navbar .navbar-nav >li:nth-child(4):hover a {
    color: #c472d5;
}

.navbar .navbar-nav >li:nth-child(5):hover a {
    color: #b2b2b2;
}

.navbar .navbar-nav >li:nth-child(6):hover a {
    color: #d02552;
}

.shrink.navbar-default .navbar-nav>li:nth-child(1).active>a {
    background: #008cba;
}

.shrink.navbar-default .navbar-nav>li:nth-child(2).active>a {
    background: #a2be07;
}

.shrink.navbar-default .navbar-nav>li:nth-child(3).active>a {
    background: #ffa823;
}

.shrink.navbar-default .navbar-nav>li:nth-child(4).active>a {
    background: #c472d5;
}

.shrink.navbar-default .navbar-nav>li:nth-child(5).active>a {
    background: #b2b2b2;
}

.shrink.navbar-default .navbar-nav>li:nth-child(6).active>a {
    background: #d02552;
}

.shrink.navbar-default .navbar-nav>.active>a,
.shrink.navbar-default .navbar-nav>.active:hover>a {
    color: #fff;
}

.side-menu-button {
    background: #c472d5;
    color: #fff;
}

.shrink .side-menu-button {
    background:#c472d5;
}

.shrink .side-menu-button:hover {
    background: #1b1b1b;
}

.side-menu-button.actives,
.side-menu-button.actives:hover {
    background: transparent;
}

.side-menu-button.actives .fa {
    color: #c472d5;
}

.sidenav ul >li:nth-child(1).active a,
.sidenav ul >li:nth-child(1):hover a {
    color: #008cba;
}

.sidenav ul >li:nth-child(2).active a,
.sidenav ul >li:nth-child(2):hover a {
    color: #a2be07;
}

.sidenav ul >li:nth-child(3).active a,
.sidenav ul >li:nth-child(3):hover a {
    color: #ffa823;
}

.sidenav ul >li:nth-child(4).active a ,
.sidenav ul >li:nth-child(4):hover a {
    color: #c472d5;
}

.sidenav ul >li:nth-child(5).active a,
.sidenav ul >li:nth-child(5):hover a {
    color: #b2b2b2;
}

.sidenav ul >li:nth-child(6).active a,
.sidenav ul >li:nth-child(6):hover a {
    color: #d02552;
}


/* header coloring end */


/* slider cover coloring start */

#slider1 ul li:nth-child(1) h2.red {
    color: #a2be07;
}

#slider1 ul li:nth-child(1) .slider-button.red {
    background: #008cba;
    border-color: #008cba;
}



#slider1 ul li:nth-child(2) h2.red {
    color: #008cba;
}

#slider1 ul li:nth-child(2) .slider-button.red {
    background: #a2be07;
    border-color: #a2be07;
}


#slider1 ul li:nth-child(3) h2.red {
    color: #c472d5;
}

#slider1 ul li:nth-child(3) .slider-button.red {
    background: #ffa823;
    border-color: #ffa823;
}



/* slider cover coloring end */


/* what we do coloring start */

#what-we-do .left .what-we-do-features:nth-child(1)> h3 span {
    background: #008cba;
}

#what-we-do .left .what-we-do-features:nth-child(2) > h3 span {
    background: #a2be07;
}

#what-we-do .left .what-we-do-features:nth-child(3) > h3 span {
    background: #ffa823;
}

#what-we-do .left .what-we-do-features:nth-child(1):hover> h3 {
    color: #008cba;
}

#what-we-do .left .what-we-do-features:nth-child(2):hover> h3 {
    color: #a2be07;
}

#what-we-do .left .what-we-do-features:nth-child(3):hover> h3 {
    color: #ffa823;
}

#what-we-do .right .what-we-do-features:nth-child(1)> h3 span {
    background: #c472d5;
}

#what-we-do .right .what-we-do-features:nth-child(2) > h3 span {
    background: #b2b2b2;
}

#what-we-do .right .what-we-do-features:nth-child(3) > h3 span {
    background: #d02552;
}

#what-we-do .right .what-we-do-features:nth-child(1):hover> h3 {
    color: #c472d5;
}

#what-we-do .right .what-we-do-features:nth-child(2):hover> h3 {
    color: #b2b2b2;
}

#what-we-do .right .what-we-do-features:nth-child(3):hover> h3 {
    color: #d02552;
}


/* what we do coloring end */


/* counters coloring start */

#counters #counter-main > .counter-hvr:nth-child(1) .outer-circle .icons {
    background: #a2be07;
    border: none;
}

#counters #counter-main > .counter-hvr:nth-child(2) .outer-circle .icons {
    background: #008cba;
    border: none;
}

#counters #counter-main > .counter-hvr:nth-child(3) .outer-circle .icons {
    background: #d02552;
    border: none;
}

#counters #counter-main > .counter-hvr:nth-child(4) .outer-circle .icons {
    background: #c472d5;
    border: none;
}

#counters #counter-main > .counter-hvr:nth-child(1) .outer-circle:hover {
    border-color: #a2be07;
}

#counters #counter-main > .counter-hvr:nth-child(2) .outer-circle:hover {
    border-color: #008cba;
}

#counters #counter-main > .counter-hvr:nth-child(3) .outer-circle:hover {
    border-color: #d02552;
}

#counters #counter-main > .counter-hvr:nth-child(4) .outer-circle:hover {
    border-color: #c472d5;
}


/* counters coloring end */


/* our team coloring start */

#our-team a[href='#tab-1'] > .hovereffect .overlay {
    background: #008cba;
}

#our-team a[href='#tab-2'] > .hovereffect .overlay {
    background: #a2be07;
}

#our-team a[href='#tab-3'] > .hovereffect .overlay {
    background: #c472d5;
}

#our-team a[href='#tab-4'] > .hovereffect .overlay {
    background: #d02552;
}

.progess-bars .progress:nth-child(1) > .progress-bar-custom {
    background: #008cba;
}

.progess-bars .progress:nth-child(2) > .progress-bar-custom {
    background: #a2be07;
}

.progess-bars .progress:nth-child(3) > .progress-bar-custom {
    background: #c472d5;
}

.progess-bars .progress:nth-child(4) > .progress-bar-custom {
    background: #d02552;
}

#our-team .our-team-social > li:nth-child(1) >a >i.fa:hover,
#our-team .our-team-social > li:nth-child(1) >a >i.fa:active {
    background: #008cba;
}

#our-team .our-team-social > li:nth-child(2) >a >i.fa:hover,
#our-team .our-team-social > li:nth-child(2) >a >i.fa:active {
    background: #a2be07;
}

#our-team .our-team-social > li:nth-child(3) >a >i.fa:hover,
#our-team .our-team-social > li:nth-child(3) >a >i.fa:active {
    background: #c472d5;
}


/* our team coloring end */


/* company history coloring start */

.timeline > li:nth-child(1):hover .timeline-panel {
    background: #008cba;
}

.timeline > li:nth-child(2):hover .timeline-panel {
    background: #a2be07;
}

.timeline > li:nth-child(3):hover .timeline-panel {
    background: #ffa823;
}

.timeline > li:nth-child(4):hover .timeline-panel {
    background: #c472d5;
}

.timeline-bottom > li:nth-child(1):hover .timeline-panel {
    background:  #008cba;
}

.timeline-bottom > li:nth-child(2):hover .timeline-panel {
    background: #d02552;
}

.timeline > li:nth-child(1):hover .timeline-panel:after {
    border-left-color: #008cba;
    border-right-color: #008cba;
}

.timeline > li:nth-child(2):hover .timeline-panel:after {
    border-left-color: #a2be07;
    border-right-color: #a2be07;
}

.timeline > li:nth-child(3):hover .timeline-panel:after {
    border-left-color: #ffa823;
    border-right-color: #ffa823;
}

.timeline > li:nth-child(4):hover .timeline-panel:after {
    border-left-color: #c472d5;
    border-right-color: #c472d5;
}

.timeline-bottom > li:nth-child(1):hover .timeline-panel:after {
    border-left-color:  #008cba;
    border-right-color:  #008cba;
}

.timeline-bottom > li:nth-child(2):hover .timeline-panel:after {
    border-left-color: #d02552;
    border-right-color: #d02552;
}

.timeline > li:nth-child(1):hover .timeline-badge > a {
    color: #008cba;
}

.timeline > li:nth-child(2):hover .timeline-badge > a {
    color: #a2be07;
}

.timeline > li:nth-child(3):hover .timeline-badge > a {
    color: #ffa823;
}

.timeline > li:nth-child(4):hover .timeline-badge > a {
    color: #c472d5 ;
}

.timeline-bottom > li:nth-child(1):hover .timeline-badge > a {
    color:  #008cba;
}

.timeline-bottom > li:nth-child(2):hover .timeline-badge > a {
    color: #d02552;
}


/* company history coloring end */


/* portfolio coloring start */

#portfolio #owl-demo .hovereffect .blue {
    background: rgba(0, 140, 186, 0.8);
}

#portfolio #owl-demo .hovereffect .green {
    background: rgba(162, 190, 7, 0.8);
}

#portfolio #owl-demo .hovereffect .red {
    background: rgba(208, 37, 82, 0.8);
}


/* portfolio coloring end */


/* pricing table start */

.price-1 {
    background: #008cba;
}

.price-1:before {
    border-bottom-color: #008cba;
}

.price-1 .header {
    border-color: #008cba;
    border-color: #008cba;
    color: #008cba;
}

.price-2 {
    background: #a2be07;
}

.price-2:before {
    border-bottom-color: #a2be07;
}

.price-2 .header {
    border-color: #a2be07;
    color: #a2be07;
}

.price-3 {
    background: #ffa823;
    ;
}

.price-3:before {
    border-bottom-color: #ffa823;
    ;
}

.price-3 .header {
    border-color: #ffa823;
    ;
    color: #ffa823;
    ;
}

.price-4 {
    background: #d02552;
}

.price-4:before {
    border-bottom-color: #d02552;
}

.price-4 .header {
    border-color: #d02552;
    color: #d02552;
}

.price li {
    border-bottom-color: #fff;
}
.price:hover li {
    border-bottom-color: #7a7a7a;
}
.price:hover {
    background: #6a6a6a;
}

.price:hover:before {
    border-bottom-color: #6a6a6a;
}

.price:hover .header {
    border-color: #6a6a6a;
    color: #6a6a6a;
}


/* pricing table start end*/


/* Happy Clients coloring start */

#happy-clients .owl-controls .owl-page.active span {
    background:#a2be07;
}

#happy-clients h5 {
    color: #008cba;
}


/* Happy Clients coloring end */


/* blog coloring start */

#blog-slider .owl-item:nth-child(1) .blog-img {
    border-color: #008cba;
}

#blog-slider .owl-item:nth-child(1) .item:hover h3,
#blog-slider .owl-item:nth-child(1) .blog-slider-descp p:nth-child(2) > span,
#blog-slider .owl-item:nth-child(1) .item:hover p:last-child {
    color: #008cba;
}

#blog-slider .owl-item:nth-child(1) .item .blog-img i {
    background: #008cba;
}

#blog-slider .owl-item:nth-child(2) .blog-img {
    border-color: #a2be07;
}

#blog-slider .owl-item:nth-child(2) .item:hover h3,
#blog-slider .owl-item:nth-child(2) .blog-slider-descp p:nth-child(2) > span,
#blog-slider .owl-item:nth-child(2) .item:hover p:last-child {
    color: #a2be07;
}

#blog-slider .owl-item:nth-child(2) .item .blog-img i {
    background: #a2be07;
}

#blog-slider .owl-item:nth-child(3) .blog-img {
    border-color: #ffa823;
}

#blog-slider .owl-item:nth-child(3) .item:hover h3,
#blog-slider .owl-item:nth-child(3) .blog-slider-descp p:nth-child(2) > span,
#blog-slider .owl-item:nth-child(3) .item:hover p:last-child {
    color: #ffa823;
}

#blog-slider .owl-item:nth-child(3) .item .blog-img i {
    background: #ffa823;
}

#blog-slider .owl-item:nth-child(4) .blog-img {
    border-color: #c472d5;
}

#blog-slider .owl-item:nth-child(4) .item:hover h3,
#blog-slider .owl-item:nth-child(4) .blog-slider-descp p:nth-child(2) > span,
#blog-slider .owl-item:nth-child(4) .item:hover p:last-child {
    color: #c472d5;
}

#blog-slider .owl-item:nth-child(4) .item .blog-img i {
    background: #c472d5;
}

#blog-slider .owl-item:nth-child(5) .blog-img {
    border-color: #b2b2b2;
}

#blog-slider .owl-item:nth-child(5) .item:hover h3,
#blog-slider .owl-item:nth-child(5) .blog-slider-descp p:nth-child(2) > span,
#blog-slider .owl-item:nth-child(5) .item:hover p:last-child {
    color: #b2b2b2;
}

#blog-slider .owl-item:nth-child(5) .item .blog-img i {
    background: #b2b2b2;
}

#blog-slider .owl-item:nth-child(6) .blog-img {
    border-color: #d02552;
}

#blog-slider .owl-item:nth-child(6) .item:hover h3,
#blog-slider .owl-item:nth-child(6) .blog-slider-descp p:nth-child(2) > span,
#blog-slider .owl-item:nth-child(6) .item:hover p:last-child {
    color: #d02552;
}

#blog-slider .owl-item:nth-child(6) .item .blog-img i {
    background: #d02552;
}

#blog-slider .owl-controls .owl-page.active span {
    background: #d02552;
}


/* blog text start */

#blog-text h2 {
    color: #008cba;
}
#blog-text p span{
    color: #d02552;
}
#blog-text #blog-text-slider .owl-controls .owl-page.active span {
    background:  #b2b2b2;
}


/* blog page colring */

#area-main ul.blog-author li a:hover,
#area-main ul.blog-author li a:focus,
.morepost-wrap a:hover,
.morepost-wrap2 a:hover,
.morepost-wrap a:hover,
.morepost-wrap2 a:hover,
.morepost-wrap2 .morepost:hover .fa-long-arrow-left,
.morepost-wrap .morepost:hover .fa-long-arrow-left,
.morepost-wrap2 .morepost:hover .fa-long-arrow-right,
.morepost-wrap .morepost:hover .fa-long-arrow-right,
ul.category li a:hover,
ul.category li a:focus {
    color: #ffb600;
}

ul.category li a .date {
    color: #ffb600;
}

#area-main .tag-cloud li a:hover,
#area-main .tag-cloud li a:focus,
.blog-reply a.btn-rep:hover,
.blog-reply a.btn-rep:focus {
    background: #ffb600;
}


/* blog coloring end */


/*contact us coloring start */

form .buttons {
    border-color: #008cba;
    color: #008cba;
}

form .buttons:hover,
form .buttons:active {
    border-color: #008cba;
}

form .buttons:before {
    background: #008cba;
}

#contact-address .address-details:nth-child(1) {
    color: #d02552;
}

#contact-address .address-details:nth-child(2) {
    color: #c472d5;
}

#contact-address .address-details:nth-child(3) {
    color: #a2be07;
}

.address-details:hover h2,
.address-details:hover p {
    color: #1b1b1b;
}


/* map marker color */

.pin {
    background: #ffb600;
}

.pulse:after {
    box-shadow: 0 0 1px 2px #ffb600;
}


/*contact us coloring end */


/* footer coloring start */

footer {
    background: #008cba;
}


footer ul >li > a:hover {
    color: #fff;
}
footer ul >li:nth-child(1) > a:hover {
    background-color: #a2be07;
    border-color: #a2be07;
}
footer ul >li:nth-child(2) > a:hover {
    background-color: #d02552;
    border-color: #d02552;
}
footer ul >li:nth-child(3) > a:hover {
    background-color: #d02552;
    border-color: #c472d5;
}
footer ul >li:nth-child(4) > a:hover {
    background-color: #a2be07;
    border-color: #a2be07;
}

/* footer coloring end */