/* loader */
.cssload-inner.cssload-one {
    border-bottom: 3px solid rgb(255, 182, 0);

}

.cssload-inner.cssload-two {
    border-right: 3px solid rgba(255, 182, 0,0.96);
}

.cssload-inner.cssload-three {
    border-top: 3px solid rgb(255, 182, 0);
}


/* header coloring start*/
.side-menu-button {
    background: #ffb600;
    color: #fff;
}

.shrink .side-menu-button {
    background: #ffb600;
}
.shrink .side-menu-button:hover{
    background: #1b1b1b;
}
.side-menu-button.actives,
.side-menu-button.actives:hover
{
    background: transparent;
}


.side-menu-button.actives .fa {
    color: #ffb600;
}

.sidenav ul >li.active a {
    color: #ffb600;
}

.navbar .navbar-nav >li:hover a {
    color: #ffb600;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #ffb600;
}

.shrink.navbar-default .navbar-nav>.active>a,
.shrink.navbar-default .navbar-nav>.active>a:focus,
.shrink.navbar-default .navbar-nav>.active>a:hover {
    background: #ffb600;
    color: #fff;
}

#what-we-do .what-we-do-features:hover >h3 {
    color: #ffb600;
}


/* header coloring end */


/* slider cover coloring start */

#slider1 h2.red {
    color: #ffb600;
}

#slider1 .slider-button.red,
.page-1 #slider1 .slider-button.red {
    background: #ffb600;
    border-color: #ffb600;
}




/* slider cover coloring end */


/* what we do coloring start */

#what-we-do .what-we-do-features h3 >span {
    background: #ffb600;
}

#what-we-do .what-we-do-features:hover >h3 {
    color: #ffb600;
}


/* what we do coloring end */


/* counters coloring start */
#counters .outer-circle:hover{
    border-color: #ffb600;
}
#counters .outer-circle:hover .icons {
    background: #ffb600;
}


/* counters coloring end */


/* our team coloring start */

#our-team .hovereffect .overlay {
    background: #ffb600;
}

.progress-bar-custom {
    background: #ffb600;
}

#our-team .our-team-social > li >a >i.fa:hover,
#our-team .our-team-social > li >a >i.fa:active {
    background: #ffb600;
}


/* our team coloring end */


/* company history coloring start */

.timeline > li:hover .timeline-panel {
    background: #ffb600;
}

.timeline > li:hover .timeline-panel:after {
    border-top-color: transparent;
    border-left-color: #ffb600;
    border-right-color: #ffb600;
    border-bottom-color: transparent;
}

.timeline > li:hover .timeline-badge > a {
    color: #ffb600 !important;
}


/* company history coloring end */


/* portfolio coloring start */

#portfolio #owl-demo .hovereffect .overlay {
    background: rgba(255, 182, 0, 0.8);
}

.price.price-selected,
.price:hover {
    background: #ffb600;
    color: #fff;
}

.price.price-selected::before,
.price:hover::before {
    border-bottom: 65px solid #ffb600;
}

.price:hover .header,
.price.price-selected .header {
    border: 1px solid #ffb600;
    color: #ffb600;
}

#happy-clients .owl-controls .owl-page.active span {
    background: #ffb600;
}


/* portfolio coloring end */


/* Happy Clients coloring start */

#happy-clients h5 {
    color: #ffb600;
}


/* Happy Clients coloring end */


/* blog coloring start */

#blog-slider .blog-img {
    border-color: #ffb600;
}

#blog-slider .item:hover h3,
#blog-slider .blog-slider-descp p:nth-child(2) > span,
#blog-slider .item:hover p:last-child {
    color: #ffb600;
}

#blog-slider .blog-img i,
#blog-slider .owl-controls .owl-page.active span {
    background: #ffb600;
}

#blog-text h2,
#blog-text p span {
    color: #ffb600;
}

#blog-text #blog-text-slider .owl-controls .owl-page.active span {
    background: #ffb600;
}


/* blog page colring */

#area-main ul.blog-author li a:hover,
#area-main ul.blog-author li a:focus,
.morepost-wrap a:hover,
.morepost-wrap2 a:hover,
.morepost-wrap a:hover,
.morepost-wrap2 a:hover,
.morepost-wrap2 .morepost:hover .fa-long-arrow-left,
.morepost-wrap .morepost:hover .fa-long-arrow-left,
.morepost-wrap2 .morepost:hover .fa-long-arrow-right,
.morepost-wrap .morepost:hover .fa-long-arrow-right,
ul.category li a:hover,
ul.category li a:focus {
    color: #ffb600;
}

ul.category li a .date {
    color: #ffb600;
}

#area-main .tag-cloud li a:hover,
#area-main .tag-cloud li a:focus,
.blog-reply a.btn-rep:hover,
.blog-reply a.btn-rep:focus {
    background: #ffb600;
}

#area-main .buttons,
.social-link li a:hover{
    background: #ffb600;
    border-color:#ffb600;
}
.blog-item blockquote{
    color:#ffb600;
}
/* blog coloring end */


/*contact us coloring start */

form .buttons {
    border-color: #ffb600;
    color: #ffb600;
}

form .buttons:hover,
form .buttons:active {
    border-color: #ffb600;
}

form .buttons:before {
    background: #ffb600;
}

.address-details:hover h2,
.address-details:hover p {
    color: #ffb600;
}

/* map marker color */
.pin {
    background: #ffb600;
}
.pulse:after{
     box-shadow: 0 0 1px 2px #ffb600;
}
/*contact us coloring end */


/* footer coloring start */

footer {
    background: #ffb600;
    color: #fff;
}

footer ul >li > a:hover {
    color: #fff;
}


/* footer coloring end */










/* green color */

